@import url("//hello.myfonts.net/count/327c04");

  
@font-face {font-family: 'VerbCompRegular-Bold';src: url('/assets/327C04_0_0.eot');src: url('/assets/327C04_0_0.eot?#iefix') format('embedded-opentype'),url('/assets/327C04_0_0.woff2') format('woff2'),url('/assets/327C04_0_0.woff') format('woff'),url('/assets/327C04_0_0.ttf') format('truetype'),url('/assets/327C04_0_0.svg#wf') format('svg');}
 
  
@font-face {font-family: 'VerbCompRegular';src: url('/assets/327C04_1_0.eot');src: url('/assets/327C04_1_0.eot?#iefix') format('embedded-opentype'),url('/assets/327C04_1_0.woff2') format('woff2'),url('/assets/327C04_1_0.woff') format('woff'),url('/assets/327C04_1_0.ttf') format('truetype'),url('/assets/327C04_1_0.svg#wf') format('svg');}
 
  
@font-face {font-family: 'VerbCompRegular-BoldItalic';src: url('/assets/327C04_2_0.eot');src: url('/assets/327C04_2_0.eot?#iefix') format('embedded-opentype'),url('/assets/327C04_2_0.woff2') format('woff2'),url('/assets/327C04_2_0.woff') format('woff'),url('/assets/327C04_2_0.ttf') format('truetype'),url('/assets/327C04_2_0.svg#wf') format('svg');}
 
  
@font-face {font-family: 'VerbCompRegular-Italic';src: url('/assets/327C04_3_0.eot');src: url('/assets/327C04_3_0.eot?#iefix') format('embedded-opentype'),url('/assets/327C04_3_0.woff2') format('woff2'),url('/assets/327C04_3_0.woff') format('woff'),url('/assets/327C04_3_0.ttf') format('truetype'),url('/assets/327C04_3_0.svg#wf') format('svg');}
